<div>
    <!-- des radio de -5 à +5 -->
    <div class="two-columns">
        <div class="features" style="max-width: 30%;">
            {{attacker.document.name}}
            <hr>
            <table>
            {{#each features}}
                <tr>
                    <td style="vertical-align: top;"><img class="icon gold-icon" src="{{this.img}}" alt="{{this.name}}"/></td>
                    <td style="vertical-align: top; font-size: 90%;">
                        <a data-action="itemInfoAction" data-item="{{this.id}}">
                            <strong>{{this.name}}</strong>
                            {{{this.description}}}
                        </a>
                    </td>
                </tr>
            {{/each}}
            </table>
        </div>
        <div class="attcks" style="flex-grow: 1;">
            <div class="header">        
                <div class="portrait" data-action="chooseTokenAction" data-mode="attacker">
                    <img class="gold-icon" style="width: 64px;" src="{{attacker.document.texture.src}}" width="64" height="64" data-tooltip="{{attacker.document.name}}" />
                </div>
                {{#each attackerStatuses}}
                <div class="status {{#unless this.active}}delete-status{{/unless}}" data-tooltip="{{this.description}}">
                    <a data-action="effectToogleAction" data-idx="{{this.idx}}">
                        <img class="icon" src="{{this.img}}" alt="{{this.name}}" />
                    </a>
                </div>
                {{/each}}
                <div class="bonus header">
                    <button data-action="changeBonusAction" data-mode="-1">-</button>
                    <strong style="white-space: nowrap;">{{# if bonus}}Modificateur : {{bonusStr}}{{^}}Aucun bonus{{/if}}</strong>
                    <button data-action="changeBonusAction" data-mode="1">+</button>
                </div>
                {{#each defenderStatuses}}
                <div class="status {{#unless this.active}}delete-status{{/unless}}" data-tooltip="{{this.description}}">
                    <a data-action="effectToogleAction" data-idx="{{this.idx}}">
                        <img class="icon" src="{{this.img}}" alt="{{this.name}}" />
                    </a>
                </div>
                {{/each}}
                <div class="portrait" data-action="chooseTokenAction" data-mode="target">
                    <img class="gold-icon" style="width: 64px;" src="{{target.document.texture.src}}" width="64" height="64" data-tooltip="{{target.document.name}}"/>
                </div>        
            </div>

            <table>                
                {{#each attacks}}
                <tr>
                    <td><img class="big-icon gold-icon" src="{{this.item.img}}" /></td>
                    <td>
                        <a data-action="itemInfoAction" data-item="{{this.item.id}}">{{this.item.name}}</a>
                    </td>
                    <td>{{this.item.labels.range}}</td>
                    <td>+{{this.item.labels.modifier}} {{../bonusStr}}</td>
                    <td>
                        {{#each this.item.labels.damages}}
                        {{this.label}} <br>
                        {{/each}}
                    </td>
                    <td>
                        <div style="display: flex; flex-direction: row;">
                            <button data-action="rollAction" data-mode="1" data-weapon="{{this.item.id}}">adv.</button>
                            <button data-action="rollAction" data-mode="0" data-weapon="{{this.item.id}}">normal</button>
                            <button data-action="rollAction" data-mode="-1" data-weapon="{{this.item.id}}">dis.</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </table>
            <div class="results">
                <div class="attacks">
                    <h2>Attaques</h2>
                    <div class="dtjul-attack-results">
                        {{#each attackResults}}
                        <div class="dtjul-dice-card {{#if this.active}}{{#if this.success}}success{{^}}failed{{/if}}{{^}}dtjul-disabled{{/if}}">            
                            <div class="weapon">{{this.weapon.name}}</div>
                            <div class="dice-result">
                                <div class="dtjul-dice-total">
                                    <div class="dice-tooltip">
                                        <div class="dice-rolls">
                                            <div class="roll die d20"><a data-action="removeDiceAction" data-attack="{{this.idx}}">-</a></div>
                                        </div>
                                    </div>
                                    <div>
                                        <a data-action="toggleActiveAction" data-attack="{{this.idx}}">{{this.roll.result}}</a>
                                    </div>
                                    <div class="dice-tooltip">
                                        <div class="dice-rolls">
                                            <div class="roll die d20"><a data-action="addDiceAction" data-attack="{{this.idx}}">+</a></div>
                                        </div>
                                    </div>
                                </div>                
                                <div class="dice-tooltip">
                                    <ol class="dice-rolls">
                                    {{#each this.rolls}}
                                    <li class="roll die d20 {{this.type}}"><a data-action="toggleAdvAction" data-attack="{{../idx}}">{{this.die}}</a></li>
                                    {{/each}}                    
                                    </ol>
                                </div>                
                            </div>      
                            <span class="damage">{{#if this.totalDamage}}( <small>Dégâts&nbsp;:</small> {{this.totalDamage}} ){{^}}—{{/if}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="target">
                    <h2>Cible</h2>
                    <table>                
                        {{#each damages}}
                        <tr>
                            <td><img src="{{this.img}}" style="min-width: 24px; min-height: 24px; width: 24px; height: 24px;" /></td>
                            <td>
                                {{this.label}}
                                &nbsp;
                                {{#if this.normal}}
                                <a class="change" data-action="changeDamageAction" data-damage="{{this.id}}" data-mode="1"><i class="far fa-life-ring"></i></a>
                                {{/if}}
                                {{#if this.full}}
                                <a class="change" data-action="changeDamageAction" data-damage="{{this.id}}" data-mode="2"><i class="far fa-shield"></i></a>
                                {{/if}}
                                {{#if this.resistance}}
                                <a class="change" data-action="changeDamageAction" data-damage="{{this.id}}" data-mode="3"><i class="fas fa-shield-alt"></i></a>
                                {{/if}}
                                {{#if this.immunity}}
                                <a class="change" data-action="changeDamageAction" data-damage="{{this.id}}" data-mode="0"><i class="fas fa-shield"></i></a>
                                {{/if}}                        
                            </td>
                            <td class="value">
                                <span style="white-space: nowrap;">
                                    {{#if this.reduced}}<span class="canceled">{{this.total}}</span>{{/if}}
                                    {{#if this.reduced}}<span class="canceled-motif">({{this.reduced}})</span>{{/if}}
                                    <br>
                                </span>
                                {{this.take}}
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <table class="sum">
                        <tr>
                            <td style="width: 100%;"></td>
                            <td>
                                CA
                                <a class="change" data-action="changeACAction" data-mode="0">(*)</a> 
                            </td>
                            <td class="value">
                                <a class="change" data-action="changeACAction" data-mode="-1">(-)</a> 
                                {{targetAC}}
                                <a class="change" data-action="changeACAction" data-mode="1">(+)</a> 
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>HP</td>
                            <td style="color: forestgreen;">{{currentHP}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong>Total&nbsp;dégâts</strong></td>
                            <td><strong class="total-damages">{{totalDamage}}</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                {{#if totalDamage}}
                                <button data-action="applyDamageAction">&nbsp;Appliquer&nbsp;→&nbsp;</button>
                                {{^}}
                                <button data-action="nextTurnAction">&nbsp;Fermer&nbsp;→&nbsp;</button>
                                {{/if}}
                            </td>
                            <td style="color: {{projectionColor}};">{{projectionHP}}</td>
                        </tr>
                        {{#each concentrationChecks}}
                        <tr>
                            <td></td>
                            <td class="value">Concentration {{this.source}} ({{this.damage}})</td>
                            <td>DD&nbsp;{{this.dd}}</td>
                        </tr>
                        {{/each}}
                    </table>            
                </div>
            </div>
        </div>
    </div>
</div>